html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-family: "Poiret One";
}

p {
    font-family: "Dosis";
}

a {
    text-decoration: none;
}

header {
    height: 100vh;
    position: relative;
    animation: slideshow 20s ease-in-out infinite;

    .top-bar {
        width: 100%;
        height: 64px;
        background: rgb(255, 255, 255);
        position: fixed;
        top: 0;
        left: 0;
        transition: all 0.2s linear;

        .slogan {
            position: absolute;
            top: 50%;
            left: 3rem;
            transform: translateY(-50%);

            p {
                font-size: 2rem;
                font-family: "Poiret One";
                position: relative;

                .overlay {
                    background: rgb(255, 255, 255);
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 100%;
                    z-index: 2;
                }
            }
        }

        .nav-spinner {
            position: absolute;
            right: 2rem;
            top: 0.6rem;
            width: 2.8rem;
            height: 2.8rem;
            opacity: 0.6;
        }
    }

    nav {
        width: 40rem;
        height: 3rem;
        position: fixed;
        right: 0;
        top: 64px;
        transition: all 0.2s linear;
        z-index: 10;

        ul {
            margin: 0 -2rem 0 0;
            padding: 0 4rem 0 3rem;
            width: 100%;
            float: right;
            background: rgb(0, 98, 255);
            transform: skew(45deg);
            overflow: hidden;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);

            li {
                list-style: none;
                position: relative;
                transform: skew(-45deg);

                a {
                    font-family: "Dosis";
                    color: rgb(255, 255, 255);
                    text-align: center;
                    display: block;
                    padding: 0.9rem 0;
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: padding 0.2s ease-in-out, background 0.1s ease-in-out;
                }

                a:hover {
                    color: rgb(0, 98, 255);
                    background: rgb(255, 255, 255);
                }
            }
        }
    }

    .mobile-nav-topbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 3rem;
        width: 100%;
        background: rgb(0, 98, 255);
        z-index: 12;
        overflow: hidden;
        display: none;

        .navToggleBtn {
            width: 2rem;
            height: 2rem;
            position: fixed;
            left: 0.4rem;
            top: 0.6rem;
            transition: all 1s ease-in-out;
            border-radius: 0.2rem;
            z-index: 10;
        
            p {
                margin: 0;
                padding: 0;
                height: 2px;
                width: 1.6rem;
                left: 0.2rem;
                background: white;
                border-radius: 5px;
                position: absolute;
                transition: all 1s ease-in-out;
            }
        
            p:nth-child(1) {
                top: 0.4rem;
            }
        
            p:nth-child(2) {
                top: 15px;
            }
        
            p:nth-child(3) {
                bottom: 0.4rem;
            }
        }

        .slogan-mobile {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            p {
                font-size: 1.4rem;
                font-family: "Poiret One";
                position: relative;
                color: rgb(255, 255, 255);

                .overlay {
                    background: rgb(0, 98, 255);
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 100%;
                    z-index: 2;
                }
            }
        }

        .nav-spinner-mobile {
            position: absolute;
            right: 0.6rem;
            top: 0.4rem;
            width: 2.2rem;
            height: 2.2rem;
            opacity: 0.6;
        }
        
        .mobile-nav {
            width: 0;
            position: fixed;
            height: auto;
            top: 3rem;
            background-color: #2d2827;
            border-bottom: 1rem solid rgb(0, 98, 255);
        
            ul {
                margin: 0;
                padding: 0;
        
                li {
                    list-style: none;
                    display: block;
                    margin: 0.8rem 0;
                    opacity: 1;
                    margin-left: -8rem;
                    transition: all 0.3s ease-in-out;
                    text-align: center;
        
                    a {
                        color: #ffffff;
                        font-size: 1rem;
                        font-family: 'Dosis', sans-serif;
                        letter-spacing: 0.8px;
                        text-transform: uppercase;
                        text-decoration: none;
                        position: relative;
                        padding: 0.4rem 0.7rem;
                        font-weight: lighter;
                    }
                }
        
                li:nth-child(1) {
                    transition: all 0.3s ease-in-out;
                }
        
                li:nth-child(2) {
                    transition: all 0.3s ease-in-out 0.1s;
                }
        
                li:nth-child(3) {
                    transition: all 0.3s ease-in-out 0.2s;
                }
        
                li:nth-child(4) {
                    transition: all 0.3s ease-in-out 0.3s;
                }
        
                li:nth-child(5) {
                    transition: all 0.3s ease-in-out 0.4s;
                }
        
                li:nth-child(6) {
                    transition: all 0.3s ease-in-out 0.5s;
                }
            }
        }
    }

    .main-title {
        position: absolute;
        width: 40rem;
        left: 0;
        top: 40%;
        text-align: center;

        h1 {
            font-size: 4rem;
            color: rgb(255, 255, 255);
            margin: 0 auto;
        }

        p {
            font-size: 2rem;
            margin: 1rem auto;
            color: rgb(255, 255, 255);
        }
    }
}

@keyframes slideshow {
    0% {
        background: linear-gradient(rgba(0, 0, 0, 0.198), rgba(0, 0, 0, 0.692)), url(../images/header-1.jpg);
        background-size: 100% 50rem;
        background-attachment: fixed;
    }

    35% {
        background: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.692)), url(../images/header-2.jpg);
        background-size: 100% 50rem;
        background-attachment: fixed;
    }
    
    70% {
        background: linear-gradient(rgba(0, 0, 0, 0.376), rgba(0, 0, 0, 0.692)), url(../images/header-3.png);
        background-size: 100% 50rem;
        background-attachment: fixed;
    }

    100% {
        background: linear-gradient(rgba(0, 0, 0, 0.198), rgba(0, 0, 0, 0.692)), url(../images/header-1.jpg);
        background-size: 100% 50rem;
        background-attachment: fixed;
    }
}