// THIS IS THE GLOBAL FONTS FOR THE ENTIRE SITE
@font-face {
    font-family: "Dosis";
    src: url(../fonts/Dosis-Regular.ttf);
}

@font-face {
    font-family: "Poiret One";
    src: url(../fonts/PoiretOne-Regular.ttf);
}