header {

    nav {

        ul {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            height: 100%;
        }
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: calc(100% - 10rem);
    margin: auto;

    .top-featured {
        display: grid;
        grid-gap: 4rem;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 6rem;
        margin-bottom: 6rem;
    
        .top {
    
            .grid {
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(5, 1fr);
            }
        }
    }

    .new-series {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
    }
}